* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .header h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .profile {
    display: flex;
    padding: 20px;
  }
  
  .profile-image {
    margin-right: 20px;
  }
  
  .profile-image img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .profile-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .profile-info strong {
    font-weight: bold;
    margin-right: 5px;
  }
  div.bottom a.button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    margin-left: 140%;
}

button:hover {
    background-color: #45a049;
}

.button-container {
  margin-top: 20px;
  text-align: right;
}

.button-container button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #f90;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #e60;
}
  